.chatbox {
	background-color: white;
	overflow:   auto;
	width:      400px;
	height:     400px;
}
.chatbox-message{
    overflow:   auto;
    position:   absolute;
    bottom:     0;
    max-height: 400px
}
.on {
  	overflow-anchor: auto;
}
.off {
  	overflow-anchor: none;
}
